* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 100%vh;
  }
  
  /* The side navigation menu */
  .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
   /* Stay at the top */
  left: 0;
  background-color: #050349;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 1s;
  font-weight: bolder;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
  color: gold;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
  transition: margin-left 1s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
  #menu-bar{
  padding-left: 10px ;
  color: #050349;
  }
  
  #menu-bar:hover{
  cursor: pointer;
  color: gold;
  
  }
  
  /* menu ending */

  /* body start */
@media(min-width: 768px){
  .main-cont{
    display: flex;
    margin: 5px;
  }
}

.main-cont{
    margin-left: 10px;
  }

.post-cont{
  flex: 2;
  padding: 5px;
  margin-right: 10px;
}

.blog-title a{
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 40px;
}

.author{
  text-indent: 10px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  margin: 3px;
}

.detailed{
  line-height: 25px;
  padding: 3px;
  text-align: justify;
  margin-bottom: 5px;
}

.share h3{
  padding-bottom: 5px;
  color: #050349;
  font-size: 25px;
}


#share-btns{
  padding: 3px;
  color: white;
  height: 40px;
  width: 70px;
  border: 2px solid #0099ff;
  border-radius: 3px;
  align-self: center;
  margin-left: 10px;
  text-align: center;
  background-color: #0099ff;
  margin-bottom: 5px;
}

#share-btns:hover{
  padding: 4px;
  color: #0099ff;
  background-color: white;
  transition: .5s;
  height: 42px;
  width: 72px;
}

.comments-count{
  font-size: 20px;
  font-weight: bold;
  background-color: aliceblue;
  padding: 2px;
  height: 30px;
  text-indent: 20px;
  margin-right: 50px;
}

.comment-info{
  padding: 5px;
  margin-left: 20px;
}


.comment-author{
  font-weight: bold;
  font-style: italic;
}

.comment-body{
  padding: 20px;
  margin-bottom: 10px;
  background-color: aliceblue;
  margin-right: 50px;
}

.show-reply-form{
  margin: 5px;
  border-radius: 5px;
}

.reply-info{
  margin-left: 50px;
}

.reply-author{
  font-style: italic;
}

.leave-comment{
  text-transform: capitalize;
  padding: 7px;

}

.comment-form{
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #050349;
  width: 300px;
}

#comment{
  height: 180px;
}

.comment-btn, .show-reply-form{
  font-weight: bolder;
  border: 2px solid #050349;
  padding: 5px;
  background-color: #050349;
  color: white;
}


.comment-btn:hover, .show-reply-form:hover{
  color: #050349;
  background-color: white;
  padding: 6px;
  transition: .5s;
}

.side-cont{
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.search-sec{
  padding: 4px;
  height: 40px;
}

.search-area{
  height: 35px;
  width: 260px;
  border: 2px solid #050349;
  align-items: center;
}

#search-btn{
  width: 35px;
  height: 31px;
  font-size: 22px;
  font-weight: bolder;
  align-content: center;
}

i{
  padding: 2px;
}

.other-info{
  padding: 5px;
  margin-top: 25px;
  text-align: center;
  height: 35px;
  background-color: #050349;
  color: aliceblue;

}

#side-info a{
  color: black;
}

#side-info {
  color: black;
  padding-bottom: 5px; 
  padding-top: 5px;
  font-size: 18px;

}


  /** footer start */

.footer-items{
    background-color: white;
  }
  
  @media(min-width: 700px){
    .footer-items{
      display: flex;
      justify-content: space-between;
      }
  }

  .footer-items{
      background-color: aliceblue;
    }
  
  .Sect1{
    flex: 2;
    padding: 10px;
  }
  
  .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../images/footer-logo.jpg);
    position: absolute;
    margin-bottom: 20px;
  }
  
  .logo-info{
    margin-left: 110px;
    margin-top: 20px;
  }
  
  .read{
    color: gold;
  }
  
  .follow{
    padding-top: 5px;
    margin-top: 20px;
  }
  
  #social-media-btns{
    font-size: 15px;
    padding: 3px;
    color: blue;
  }
  
   a:link {
    text-decoration: none;
    font-weight: bold;
  }
  
  .Sect2{
    flex: 1;
    padding: 10px;
  }
  
  .Sect3{
    flex: 1;
    padding: 10px;
  }
  
  .Sect4{
    flex: 1;
    padding: 10px;
  }
  
  .foot-1{
    text-transform: uppercase;
  }
  
  .items{
    font-size: 13px;
  }
  
  .foot-pages{
    font-size: 13;
    display: inline;
  }
  
  .form-control{
    height: 30px;
    padding: 2px;
    border: 2px solid #050349;
  }
  
  .btn{
    height: 30px;
    width: 50px;
    font-weight: bolder;
    background-color: #050349;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover{
    background-color: white;
    transition: .5s;
    padding: 1px;
    color: #050349;
  
  }
  
  /* footer end */