* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 100%vh;
    width: 100%vh;
  }
  
  /* The side navigation menu */
  .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
   /* Stay at the top */
  left: 0;
  background-color: #050349;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 1s;
  font-weight: bolder;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
  color: gold;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
  transition: margin-left 1s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
  #menu-bar{
  padding-left: 10px ;
  color: aliceblue;
  }
  
  #menu-bar:hover{
  cursor: pointer;
  color: gold;
  
  }
  
  /* menu ending */
  
  /* body start */
  body{
    
  }

  .Img-header{
    background-image: url(../images/project-header.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-top: -7%;
  }

  .heading{
    text-transform: uppercase;
    color: gold;
    font-weight: bolder;
    text-align: center;
    padding-top: 130px;
  }

  .my-work{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media(min-width: 700px){
    .project-cont{
      display: flex;
      justify-content: center;
      padding-right: 10px;
    }

    .proj-cont{
      margin-right: 10px;
    }
  }

  .project-cont{
    background-image: url(../images/code.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10px;
  }

  .proj-cont{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .featured{
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .proj-head {
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .description{
    padding: 5px;
    text-align: justify;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .view-proj{
    margin-left: 10px;
    padding: 7px;
    color: #050349;
    background-color:white ;
    font-size: 16px;
    border-radius: 5px;
    text-transform: capitalize;
  }

  .view-proj:hover{
    color: white ;
    background-color: #050349;
    border: #050349 solid 2px;
    padding: 5px;
    font-size: 18px;
    transition: 0.5s;
  }

  .pagination{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    text-align: center;
  }
  
  .step-links{
    background-color: #050349;
    padding: 3px;
    border: 2px solid #050349;
    width: 100px;
    color: white;
    border-radius: 5px;
  }
  
  .step-links:hover{
    background-color: aliceblue;
    padding: 5px;
    color:  #050349;
    margin-top: 8px;
    transition: .5s;
  }

  .client{
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  }

  .slide-show{
    position: relative;
    background: rgba(5, 4, 82, 0.5);
  }

  
  .testimonial{
    display: none;
    padding: 50px;
    text-align: center;
  }

  .client-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    float: left;
    margin-left: 3%;
    margin-top: -15px;
  }

  .message{
    margin-right:5px;
  }

  .prev, .next{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: gold;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev{
    position: absolute;
    left: 0;
    margin-left: 10px;
  }

  .next{
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

  .prev:hover, .next:hover{
    background-color: #050349;
    color: white;
    transition: 0.2s;
    border-radius: 5px;
  }

  .dot-cont{
    text-align: center;
    padding: 15px;
    background: #050349;
  }

  .dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    display: inline-block;
    color:  aliceblue;
  }

  .active, .dot:hover{
    color:gold;
  }

  
  


  /* body end */

  /** footer start */

.footer-items{
    background-color: white;
  }
  
  @media(min-width: 700px){
    .footer-items{
      display: flex;
      justify-content: space-between;
      background-color: aliceblue;
      }
  }
  
  .Sect1{
    flex: 2;
    padding: 10px;
  }
  
  .logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../images/footer-logo.jpg);
    position: absolute;
    margin-bottom: 20px;
  }
  
  .logo-info{
    margin-left: 110px;
    margin-top: 20px;
  }
  
  .read{
    color: gold;
  }
  
  .follow{
    padding-top: 5px;
    margin-top: 20px;
  }
  
  #social-media-btns{
    font-size: 15px;
    padding: 3px;
    color: blue;
  }
  
   a:link {
    text-decoration: none;
    font-weight: bold;
  }
  
  .Sect2{
    flex: 1;
    padding: 10px;
  }
  
  .Sect3{
    flex: 1;
    padding: 10px;
  }
  
  .Sect4{
    flex: 1;
    padding: 10px;
  }
  
  .foot-1{
    text-transform: uppercase;
  }
  
  .items{
    font-size: 13px;
  }
  
  .foot-pages{
    font-size: 13;
    display: inline;
  }
  
  .form-control{
    height: 30px;
    padding: 2px;
    border: 2px solid #050349;
  }
  
  .btn{
    height: 30px;
    width: 50px;
    font-weight: bolder;
    background-color: #050349;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover{
    background-color: white;
    transition: .5s;
    padding: 1px;
    color: #050349;
  
  }
  
  /* footer end */