* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 100%vh;
}
	
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
   /* Stay at the top */
  left: 0;
  background-color: #050349;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
 }

/* The navigation menu links */
.sidenav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 1s;
  font-weight: bolder;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: gold;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 1s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#menu-bar{
	padding-left: 10px ;
  color: gold;
}

#menu-bar:hover{
	cursor: pointer;
	color: #050349;

}

/** body start **/
body {
    background-image: url(../images/index-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    top: 0;
    bottom: 0;
    padding-left: -10;
    z-index: -10;
}


.image {
    background-image: url(../images/index-head.jpg);
    background-size: cover;
    border-radius: 50%;
    border: solid 3px rgb(235, 217, 57);
    height: 200px;
    width: 200px;
    margin-left: 10%;
}

.lg-heading {
    position: relative;
    margin-top: -3%;
    padding-left: 30%;
    font-size: 90px;
    color: aliceblue;
    text-shadow: 6px 6px 10px rgba(224, 243, 10, 0.3);
    letter-spacing: 1.5px;

}

.text-secondary {
    color: rgb(235, 217, 57);
    text-shadow: 6px 6px 10px rgba(243, 243, 247, 0.3);
}

.tagline {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.overlay {
    position: absolute;
    background-color: rgba(5, 4, 82, 0.5);
    background-size: cover;
    background-position: center;
    height: 120%;
    width: 100%;
    z-index: -5;
    top: 0px;
    bottom: 0px;
    position: fixed;
}

.more button {
    margin-top: 4%;
    margin-left: 2%;
    padding: 10px;
    border: 10px black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(235, 217, 57);
    transition: 1s;
    overflow: hidden;
}
.more a{
    color: black;
}
.more a:link {
    margin-left: 3%; 
   text-decoration: none;
}
.more button:hover {
    background-color: aliceblue;
    color: #050349;
    transition: .5s;
}


/* This changes all the animations globally */
:root {
  --animate-duration: 2s;
  --animate-delay: 0.2s;
}